<template name="consent">
<div class="col-md-12">

{{> recruiting}}

<p>Please read the following terms of consent, and check the box below to indicate your agreement and willingness to participate. Then click the button to take a short quiz that tests your understanding of the rules of the game.</p>

<div class="well terms">
    {{> terms}}
</div>

<form class="consent">

<div class="checkbox">
  <label class="checkbox">
    <input name="agree" type="checkbox">I have read and understood the information furnished on the consent form.
  </label>
</div>

<button type="submit" class="btn btn-primary">Take the Quiz</button>
</form>

</div>
</template>
