<template name="game">
  <div class="row marketing">
    <div class="col-lg-12">

      {{#if invited}}
      <div class="alert alert-success alert-dismissible" role="alert">
	<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	You have been automatically matched to a game.
      </div>
      {{/if}}

      <h4>Game {{gameNum}} (out of {{numGames}})</h4>
        <p>Each game consists of {{numRounds}} rounds. In each round, you will select between <span class="green">Choice 1</span> and <span class="red">Choice 2</span>. The table below shows the number of points associated with each possible combination of your choice and the choice of your opponent. In each cell, the first number is the number of points you will receive, and the second number is the number of points your opponent will receive.
	  {{> payoffTable}}
	</p>
      
      {{#if showPrevious}}
      Previous choices and outcomes:
      <table class="table table-bordered">
	<tbody>
	  <tr>
	    <td><strong>Round</strong></td>
	    <td><strong>Your Choice</strong></td>
	    <td><strong>Opponent's Choice</strong></td>
	    <td><strong>Your Points</strong></td>
	    <td><strong>Opponent's Points</strong></td>
	  </tr>
	  {{#each results}}
	  <tr>
	    <td>{{round_}}</td>
	    <td><span class="{{pchoice_color}}">{{pchoice}}</span></td>
	    <td><span class="{{ochoice_color}}">{{ochoice}}</span></td>
	    <td>{{pscore}}</td>
	    <td>{{oscore}}</td>
	  </tr>
	  {{/each}}
	  <tr>
	    <td colspan="3" class="align-right"><strong>Total Points</strong></td>
	    <td>{{payoffs.you}}</td>
	    <td>{{payoffs.opponent}}</td>
	  </tr>
	</tbody>
      </table>
      {{/if}}

      {{#if playing}}
      
      {{#if pending}}
      <p>Make a choice for round {{round}}. You have two minutes. After that, the game will be terminated.</p>
      {{else}}
      <p>Waiting on your opponent. After two minutes have passed, the game will be terminated and you will be matched with another opponent.</p>
      {{/if}}

      <p>Seconds elapsed: {{timeSpent}} </p>
      <button type="button" class="btn btn-success cooperate {{#if turnOver}}disabled{{/if}}">Choice 1</button>
      <button type="button" class="btn btn-danger defect {{#if turnOver}}disabled{{/if}}">Choice 2</button>

      {{else}} <!-- game is over -->

      {{#if done}} <!-- ready to submit -->
      You have finished your {{numGames}} games. Click the button below to submit the HIT.
      {{> submit reason="finished"}}
      {{else}}
      <strong>Game Over.</strong><br/>
      <button type="button" class="btn btn-default return">Next Game</button>
      {{/if}}

      {{/if}}
    </div>
  </div>
</template>
