<template name="game">
  <div class="row marketing">
    <div class="col-lg-12">
      {{#if invited}}
      <div class="alert alert-success alert-dismissible" role="alert">
	<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	You've been automatically matched to a game.
      </div>
      {{/if}}

      The game will consist of 5 rounds. In each round, you have two choices: cooperate or defect. The payoff matrix illustrating the possible outcomes is below: <br/><br/>
      <table class="table table-bordered">
	<tbody>
	  <tr>
	    <td></td>
	    <td><strong>Cooperate</strong></td>
	    <td><strong>Defect</strong></td>
	  </tr>
	  <tr>
	    <td><strong>Cooperate</strong></td>
	    <td>2,2</td>
	    <td>0,3</td>
	  </tr>
	  <tr>
	    <td><strong>Defect</strong></td>
	    <td>3,0</td>
	    <td>1,1</td>
	  </tr>
	</tbody>
      </table>

      {{#if opponent_offline}}
      <div class="alert alert-warning" role="alert">
	Your opponent has disconnected. You can wait for them to return, or <a class="abandon" href="#">click here</a> to abandon the game and return to the lobby.
      </div>
      {{/if}}

      {{#each results}}
      <strong>Round {{round_}}</strong>:
      You chose <span class="{{pchoice_color}}">{{pchoice}}</span> and your opponent chose <span class="{{ochoice_color}}">{{ochoice}}</span>.
      You received {{pscore}} payoff and your opponent received {{oscore}} payoff.<br/>
      {{/each}}

      {{#if playing}}
      <strong>Round {{round}}</strong>:
      {{state}} <br/>
      <button type="button" class="btn btn-success cooperate {{#if turn_over}}disabled{{/if}}">Cooperate</button>
      <button type="button" class="btn btn-danger defect {{#if turn_over}}disabled{{/if}}">Defect</button>
      {{else}}
      <br/><strong>Results</strong>:
      Your total payoff is {{payoffs.you}} and your opponent's total payoff is {{payoffs.opponent}}. <br/><br/>
      {{> submit}}
      <!-- <button type="button" class="btn btn-default return">Return to Lobby</button> -->
      {{/if}}
    </div>
  </div>
</template>
