<template name="game">
  <div class="row">
    {{#if loading}}
    {{> spinner}}
    {{else}}
    <div class="col-lg-9">
      <h4>Game {{gameNum}} (out of {{numGames}})</h4>
        <p>Each game consists of {{numRounds}} rounds. In each round, you will select between <span class="green">Choice 1</span> and <span class="red">Choice 2</span>. The table below shows the number of points associated with each possible combination of your choice and the choice of your partner. In each cell, the first number is the number of points you will receive, and the second number is the number of points your partner will receive.
	  {{> payoffTable}}
	</p>

      Previous choices and outcomes:
      <table class="table table-bordered">
      	<tbody>
      	  <tr>
      	    <td><strong>Round</strong></td>
      	    <td><strong>Your Choice</strong></td>
      	    <td><strong>Partner's Choice</strong></td>
      	    <td><strong>Your Points</strong></td>
      	    <td><strong>Partner's Points</strong></td>
      	  </tr>
      	  {{#each results.rounds}}
      	  <tr>
      	    <td>{{round_}}</td>
      	    <td><span class="{{pcolor}}">{{pchoice}}</span></td>
      	    <td><span class="{{ocolor}}">{{ochoice}}</span></td>
      	    <td>{{pscore}}</td>
      	    <td>{{oscore}}</td>
      	  </tr>
      	  {{/each}}
      	  <tr>
      	    <td colspan="3" class="align-right"><strong>Total Points</strong></td>
      	    <td>{{results.payoffs.you}}</td>
      	    <td>{{results.payoffs.opponent}}</td>
      	  </tr>
      	</tbody>
      </table>

      {{#if gameOver}}
      <strong>Game Over.</strong><br/>
      <button type="button" class="btn btn-primary endgame">Return to Waiting Room</button>
      {{else}}

      {{#if gameAbandoned}}
      <p>Either you or your partner did not choose an action in time, so the game was terminated.</p>
      <button type="button" class="btn btn-primary endgame">Return to Waiting Room</button>
      {{else}}
      
      {{#if choseAction}}
      <p>Waiting for your partner to make a decision. After one minute, the game will be terminated.</p> 
      {{else}}
      <p>Make a choice for round {{round}}. You have one minute. After that, the game will be terminated.</p>
      {{/if}}

      <p>Time remaining: {{tsRoundRemainingTime}} </p>
      <center>
      <button type="button" value="1" class="btn-lg btn-success action {{#if choseAction}}disabled{{/if}}" disabled={{choseAction}}>Choice 1</button>
      <button type="button" value="2" class="btn-lg btn-danger action {{#if choseAction}}disabled{{/if}}" disabled={{choseAction}}>Choice 2</button>
      </center>
      {{/if}}
      {{/if}}
    </div>
    <div class="col-md-3">
      {{> stats}}
    </div>
    {{/if}}
  </div>
</template>
