<template name="instructions">
<div class="col-md-12">

<h4>Welcome</h4>

<p>The purpose of this HIT is to grant qualifications for a long-term research project. The research project will consist of 20 sessions. Each session will start at the same time each business day (Monday through Friday) and will last about 30 minutes. We will have one session per day over the course of at least 4 weeks. We expect the experiment to start the week of July 20, 2015 and run at least through August 14, 2015.</p>

<p>If you choose to participate in the experiment, we will need to you to be present for every session. If, at any point, you miss more than 2 sessions, you will be unable to continue participation in the experiment. As part of this quiz we will ask about your availability and we will hold the experiment during the time that most workers will be available. We will then contact you when the experiment begins, after which point we will ask that you come Amazon Mechanical Turk once per day at the specified time to complete a session.</p>

<p>After reading these instructions, you will be asked to take and pass a short quiz that tests your understanding of the rules of the game (as described below). You will be given two attempts to pass the quiz. If you fail twice, you will not be allowed to participate in the project. After passing the quiz, you will fill out a form describing your availability.</p>

<h4>The Game</h4>
<p>In each session you will play a sequence of up to 20 games (the exact number depends on the availability of other players). In each game, you will be randomly paired with another player. A game consists of a sequence of 10 rounds. In each round, you will choose between two different actions (Choice 1 and Choice 2). You will have one minute to make your decision. After both you and your opponent have made a decision, you will each receive a certain number of points. The table below shows the number of points associated with each possible combination of your choice and the choice of your opponent in each round:</p>

{{> payoffTable}}

<p>In each cell, the first number is the number of points you will receive, and the second number is the number of points your opponent will receive. Another way to understand the table is as follows:</p>

<ul>
<li> If both you and your opponent select <span class="green">Choice 1</span>, you each earn {{payoffs.R}} points.</li>
<li> If you select <span class="green">Choice 1</span> and your opponent selects <span class="red">Choice 2</span>, you earn {{payoffs.S}} points and your opponent earns {{payoffs.T}} points.</li>
<li> If you select <span class="red">Choice 2</span> and your opponent selects <span class="green">Choice 1</span>, you earn {{payoffs.T}} points and your opponent earns {{payoffs.S}} points.</li>
<li> If both you and your opponent select <span class="red">Choice 2</span>, you each earn {{payoffs.P}} points.</li>
</ul>

<p>After you have completed 10 rounds, the game ends, and you will be randomly matched with another opponent for the next game. When you have completed 20 games (or as many as possible given the availability of other players), the session will end. You will then return the next day to complete another session, and so forth for 20 sessions over the course of 4 weeks.</p>

<h4>Payment</h4>
<p>You will receive a base payment of 25 cents for each session. You will then earn additional compensation, based on number of points you earn during each session, in the form of a bonus paid on Amazon Mechanical Turk. Your score for the session is the sum of your points from each game. We will convert your score to dollars at the rate of 4 points = 1 cent. At the end of the 20 sessions, you will receive an additional bonus payment of $10.</p>

<p>Please read the following terms of consent, and check the box below to indicate your agreement and willingness to participate. Then click the button to take a short quiz that tests your understanding of the rules of the game.</p>

<iframe width="700px" src="terms.html"></iframe>

<form class="consent">

<div class="checkbox">
  <label class="checkbox">
    <input name="agree" type="checkbox">I have read and understood the information furnished on the consent form.
  </label>
</div>

<button type="submit" class="btn btn-default">Take the Quiz</button>
</form>

</div>
</template>
