<template name="lobbyMain">
  <div class="col-md-12">

    {{#if notReady}}
    {{> pilot}}
    <p>Click the button below to begin playing. You will then enter a waiting room, and once enough players have joined, the first game will begin.</p>
    <div class="center">
    <button class="btn btn-primary begin">Begin</button>
    </div>
    {{else}}
    <p>
      {{#if plural}}
      There are currently <strong>{{numWaiting}} players</strong> in the waiting room.
      {{else}}
      There is currently <strong>1 player</strong> in the waiting room.
      {{/if}}
      Once about {{numPlayers}} players have joined, we will begin the next game.</p>

    <p>Note that if there are an odd number of players, you might be left out when a game starts. But games go very quickly, so just wait a moment for the next one to begin.</p>

    <p>Some users have experienced a rare issue where games do not load properly from the waiting room. To avoid this issue, please <b>do not</b> open the HIT in multiple tabs. If your game does not load when the waiting room empties, please try reloading the HIT from <strong>HITs Assigned to You</strong> above. If that doesn't work, please email <a href="mailto:t-lilidw@microsoft.com">t-lilidw@microsoft.com</a>.</p>

    <p>If you experience any other technical difficulties or bugs, please email <a href="mailto:t-lilidw@microsoft.com">t-lilidw@microsoft.com</a>.</p>

    {{/if}}
  </div>
</template>
