<template name="lobby">
  <h4>Welcome.</h4>
  <p>In this HIT, you will play 20 games of Prisoner's Dilemma, each consisting of 10 rounds.</p>
  <p>If there are other players currently online, a "Play Game" button will appear below. <br/> Click this button to begin a game with a randomly chosen opponent.</p>

  {{#if empty}}
  No other players online.
  {{else}}
  <input class="btn btn-default get-matched" type="button" value="Play a Game">
  {{/if}}

  <!-- <hr> -->
  <!-- <h4>Finished?</h4> -->
  <!-- {{> submit}} -->
</template>
