<template name="lobbypilot">
<div class="col-md-12">

{{#if notReady}}
{{> pilot}}
<p>Click the button below to begin playing. You will then enter a waiting room, and once enough players have joined, the first game will begin.</p>
<button class="btn btn-default begin">Begin</button>
{{else}}
<p>
{{#if plural}}
There are currently {{numWaiting}} players in the waiting room.
{{else}}
There is currently 1 player in the waiting room.
{{/if}}
Once {{numPlayers}} players have joined, we will begin the next game.</p>

{{/if}}
</div>
</template>
