<template name="lobbyMain">
  <div class="col-md-12">

    {{#if notReady}}
    {{> pilot}}
    <p>Click the button below to begin playing. You will then enter a waiting room, and once enough players have joined, the first game will begin.</p>
    <button class="btn btn-primary begin">Begin</button>
    {{else}}
    <p>
      {{#if plural}}
      There are currently <strong>{{numWaiting}} players</strong> in the waiting room.
      {{else}}
      There is currently <strong>1 player</strong> in the waiting room.
      {{/if}}
      Once about {{numPlayers}} players have joined, we will begin the next game.</p>

    <p>Note that if there are an odd number of players, you might be left out when a game starts. But games go very quickly, so just wait a moment for the next one to begin.</p>

    <p>If you are left out for <strong>multiple</strong> games in a row, there might be a problem, so please email <a href="mailto:t-lilidw@microsoft.com">t-lilidw@microsoft.com</a> and we will fix it.</p>

    <p>If you experience any technical difficulties or bugs while playing the games, please email <a href="mailto:t-lilidw@microsoft.com">t-lilidw@microsoft.com</a>.</p>

    {{/if}}
  </div>
</template>
