<template name="quiz">
<div class="col-md-12">
  <h4>Quiz</h4>
  <p>The table below shows the number of points associated with each possible combination of your choice and the choice of your partner. In each cell, the first number is the number of points you will receive, and the second number is the number of points your partner will receive.
    {{> payoffTable}}
  </p>

  <p> Answer the questions below. If you answer any questions incorrectly, you will get a second chance. If you answer a question incorrectly twice, you will not eligible to participate in the experiment.</p>

  <form class="quiz">
    {{#each questions}}
    {{> question}}
    {{/each}}

    {{#if incorrect}}
    <div class="alert alert-warning" role="alert">There is a mistake in one or both of your answers. Please try one more time.</div>
    {{/if}}
    <button type="submit" class="btn btn-primary submit">Submit</button>
  </form>
</div>
</template>

<template name="question">
  <div class="form-group {{#if incorrect}}has-error{{/if}}">
    <label for="{{_id}}" class="control-label">{{text}}</label>
    <input id="{{_id}}" name="{{_id}}" class="sm-width form-control">
  </div>
</template>
