<template name="recruiting">

<h4>Welcome</h4>

<p>This HIT will grant you a qualification for a long-term research study,
consisting of 20 sessions where you will play a game with other workers.  Each
session will start at the same time every weekday (Monday through Friday) and
take about 30 minutes, and the sessions will take place over  the course of
about 4 weeks. We expect the experiment to start the week of August 3, 2015 and
run at least through August 28, 2015.</p>

<p>If you choose to participate in the study, <b>we ask you to be present for
every session</b>. If you miss more than 2 sessions, you will no longer be
allowed to participate.</p>

<p>In this HIT, we will ask about your availability and schedule the sessions at
a time when the most workers are available. If you agree to participate, we will
contact you when the study begins and specify the time that you should arrive on
each day. Since the study involves interacting with other workers in real-time,
it is important that you <b>arrive on time and start the HIT
immediately</b>.</p>

<p>Once you read these instructions, you will see a short quiz that tests your
understanding of the rules of the game (as described below). If you fail  the
quiz twice, you will not be able to participate in the study.</p>

<h4>The Game</h4>
<p>In each session you will play a sequence of up to {{numGames}} games where
you will be randomly paired with another player.</p>

{{> payoffInstructions}}

<p>You will then return the next day to complete another session, and so on for 20 sessions over the course of 4 weeks.</p>

<h4>Payment</h4>
<p>You will receive a base payment of 25 cents for each of the 20 sessions. For
each session, you will also earn a bonus based on the total number of  points
you receive. We will convert your score to dollars at the rate of 4 points = 1
cent. We expect this to be equivalent to a rate of <strong>$9/hr</strong>. At
the end of the 20 sessions, you will receive an <strong>additional bonus
payment of $20</strong>.</p>
</template>
