<template name="recruiting">

<h4>Welcome</h4>

<p>This HIT will grant you a qualification for a month-long research study
consisting of 20 sessions where you will play a game with other workers.  Each
session will start at the same time every weekday (Monday through Friday) and
take about 30 minutes, and the sessions will take place over the course of
about 4 weeks. We expect the experiment to start the week of August 3, 2015 and
run at least through August 28, 2015.</p>

<p>If you choose to participate in the study, <b>you will need to be present for
every session</b>. If you miss more than 2 sessions, you will no longer be
allowed to participate. Please only agree to participate if you can make
a commitment to be present for all 4 weeks. </p>

<p>Because this is a research project, we also ask that you please <b>do not
discuss the study in online forums or chat rooms</b> while participating.</p>

<p>In this HIT, we will ask about your availability and schedule the sessions at
a time when the most workers are available. If you agree to participate, we will
contact you when the study begins and specify the time that you should arrive on
each day. Since the study involves <b>interacting with other workers in
real-time</b>, it is important that on each day you <b>arrive on time and start
the HIT immediately</b>.</p>

<p>Once you read these instructions, you will see a short quiz that tests your
understanding of the rules of the game (as described below). If you fail  the
quiz twice, you will not be able to participate in the study.</p>

<h4>The Game</h4>
<p>In each session you will play a sequence of up to {{numGames}} games where
you will be randomly paired with another player.</p>

{{> payoffInstructions}}

<p>You will then return the next day to complete another session, and so on for 20 sessions over the course of 4 weeks.</p>

<h4>Payment</h4>

<p>You will receive a base payment of 25 cents for each of the 20 sessions. For
each session, you will also earn a bonus based on the total number of  points
you receive. We will convert your score to dollars at the rate of 2 points = 1
cent. We expect this will allow you to earn a minimum of <strong>$9.00 per
hour</strong>. You will receive an <strong>additional bonus payment of
$20</strong> if you are still participating at the end of the 20 sessions.</p>

<p><b>In total, you will be able to earn a minimum of $80.00 through fully
    participating in this study.</b>
</p>

</template>
