<template name="submit">
  <div class="col-md-12">
    <p>Thanks for participating! Please click the button below to submit the HIT. If you have any trouble, contact
        <a href="mailto:t-lilidw@microsoft.com">t-lilidw@microsoft.com</a>.</p>
    <form class="survey">
      Was there anything confusing about this HIT? Did you experience any bugs?
      <textarea class="form-control" name="free" rows="3"></textarea>
      <button type="submit" class="btn btn-primary submit">Submit the HIT</button>
    </form>
  </div>
</template>
