<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Decision-Making Experiment</title>
</head>

<template name="wrapper">
  <div class="container">
    <div class="row header">
      <div class="col-md-12">
	<h3 class="text-muted">Decision-Making Experiment</h3>
      </div>
    </div>
    <div class="row">
      {{> yield}}
    </div>
  </div>
</template>

<!-- before accepting the hit -->

<template name="home">
  {{#if ready}}
  {{#if exitSurvey}}
  {{> landingExitSurvey}}
  {{else}}
  <div class="container">
    <div class="row header">
      <div class="col-md-12">
	<h3 class="text-muted">Decision-Making Experiment</h3>
      </div>
    </div>
    <div class="row">
      {{> UI.dynamic template=active}}
    </div>
  </div>
  {{/if}}
  {{/if}}
</template>

<template name ="landingExitSurvey">
  <div class="col-md-12">
    <p>Please accept this HIT to fill out a survey about the month-long research study.</p>
  </div>
</template>

<template name ="landingRecruiting">
  <div class="col-md-12">
    {{> recruiting}}
    <p> Accept this HIT to begin the qualification process.</p>
  </div>
</template>

<template name="landingMain">
  <div class="col-md-12">
    {{> pilot}}
    <p>Accept the hit to begin.</p>
  </div>
</template>

<!-- lobby -->

<template name="lobby">
  {{#if ready}}
  {{#unless exitSurvey}}
  <div class="container">
    <div class="row header">
      <div class="col-md-12">
	<h3 class="text-muted">Decision-Making Experiment</h3>
      </div>
    </div>
    <div class="row">
      {{> UI.dynamic template=active}}
    </div>
  </div>
  {{/unless}}
  {{/if}}
</template>

<!-- experiment -->

<template name="experiment">
  {{> UI.dynamic template=active}}
</template>

<template name="mainRecruiting">
  {{> UI.dynamic template=active}}
</template>

<!-- survey -->

<template name="survey">
  {{> UI.dynamic template=active}}
</template>

<!-- misc -->

<template name="blank">
</template>

<!-- not being used right now -->

<template name="landing-main">
  <div class="col-md-12">
    <h4>Welcome.</h4>
    <p>This is the HIT for today's session of the decision-making experiment.</p>
    <p>After you accept the HIT, you will be be placed into a waiting room. Once enough other players have joined, you will be matched to a game. You will play approximately 20 games, and will then be able to submit the HIT.</p>
  </div>
</template>

