<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Decision-Making Experiment</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="style.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>

<template name="wrapper">
  <div class="container">
    <div class="row header">
      <div class="col-md-12">
	<h3 class="text-muted">Decision-Making Experiment</h3>
      </div>
    </div>
    <div class="row">
      {{> yield}}
    </div>
  </div>
</template>

<template name="home">
  <div class="col-md-12">
    <h4>Welcome.</h4>
    <p>Please accept the HIT to continue.</p>
  </div>
</template>
